.project ul {
  display: flex;
  width: 100%;
  margin-bottom: 1.5rem;
}

.project li {
  padding: 6px;
}

.project img {
  display: block;
  width: 100%;
}

.project h2,
.project h3 {
  font-size: 2.7rem;
  font-style: normal;
  font-weight: 700;
  text-align: left;
}

.project h2 {
  margin: 6rem 0 0 0;
}

.project h3 {
  font-style: italic;
  font-weight: 100;
}

.project .description {
  width: 50%;
  padding: 2rem 0;
}

.gotoapp {
  display: flex;
}

.gotoapp span {
  margin-right: 1rem;
}